Abe==0.8rc0
attrs==21.4.0
Automat==22.10.0
bcrypt==3.1.7
bitcoin==1.1.42
certifi==2021.10.8
cffi==1.15.1
chardet==4.0.0
colorama==0.4.6
constantly==15.1.0
cryptography==3.3.2
ecdsa==0.19.0
enum34==1.1.10
hyperlink==21.0.0
idna==2.10
incremental==22.10.0
ipaddress==1.0.23
mysqlclient==1.4.6
numpy==1.16.6
protobuf==3.17.3
psutil==6.0.0
pycparser==2.21
pycryptodome==3.20.0
PyHamcrest==1.10.1
requests==2.27.1
scikit-learn==0.20.4
scipy==1.2.3
six==1.16.0
tabulate==0.8.10
Twisted==20.3.0
typing==3.10.0.0
urllib3==1.26.19
zope.interface==5.5.2
